iot-docker-project/nodered/.flows.json.backup
[
    {
        "id": "6abdd8dbb5bc17b0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ca4c5cacab0aba9b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "influx_config",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086  ",
        "timeout": "",
        "rejectUnauthorized": false
    },
    {
        "id": "b058d4589c1d436f",
        "type": "mqtt in",
        "z": "6abdd8dbb5bc17b0",
        "name": "",
        "topic": "test/topic",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ca4c5cacab0aba9b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 460,
        "wires": [
            [
                "10b8be5a1f474822"
            ]
        ]
    },
    {
        "id": "10b8be5a1f474822",
        "type": "json",
        "z": "6abdd8dbb5bc17b0",
        "name": "",
        "property": "payload",
        "x": 460,
        "y": 520,
        "wires": [
            [
                "c75c58240b10ac0f"
            ]
        ]
    },
    {
        "id": "05e1cc738967699a",
        "type": "influxdb out",
        "z": "6abdd8dbb5bc17b0",
        "influxdb": "influx_config",
        "name": "",
        "measurement": "mpu6050",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "iot-org",
        "bucket": "final",
        "x": 870,
        "y": 520,
        "wires": []
    },
    {
        "id": "c75c58240b10ac0f",
        "type": "function",
        "z": "6abdd8dbb5bc17b0",
        "name": "function 1",
        "func": "var rawData = msg.payload;\n\n// If data is a string, it means the JSON node failed. Let's try to fix it.\nif (typeof rawData === 'string') {\n    try {\n        // Remove backslashes and extra quotes that CMD adds\n        var cleaned = rawData.replace(/\\\\\"/g, '\"').replace(/^\"|\"$/g, '');\n        rawData = JSON.parse(cleaned);\n    } catch (e) {\n        node.error(\"Still can't parse JSON: \" + rawData);\n        return null;\n    }\n}\n\n// Map the values\nmsg.payload = {\n    x: Number(rawData.x),\n    y: Number(rawData.y),\n    z: Number(rawData.z)\n};\n\nmsg.measurement = \"mpu6050\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 400,
        "wires": [
            [
                "05e1cc738967699a",
                "3a89c5bac13f5e80"
            ]
        ]
    },
    {
        "id": "3a89c5bac13f5e80",
        "type": "debug",
        "z": "6abdd8dbb5bc17b0",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 280,
        "wires": []
    }
]